body{
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size:18px;
    text-align: center;
}

header{
      text-align: center;
      width: 900px;

}

h1{
  background: #ebebeb;
  color: grey;
}


nav {
  background: #ebebeb;
  width: 900px;
  margin-bottom: 20px;
}


.wrapper{
  display: inline;
}


#section{
  position: relative;
  float: left;
  background: #ebebeb;
  width: 55%;
  height: 400px;
}

#article{
  
  position: absolute;
  background: #777;
  color: #ebebeb;
  left: 40px;
  height: 260px;
  width: 80%;
}

#h1h2h3 {
 
  background: #ebebeb;
  color: #777;
  margin: 5%;
  padding: 1px;
}

#p {
  
  background: #ebebeb;
  color: #777;
  margin: 5%;
  padding: 1px;
}

#aside{
  float: left;
  background: #ebebeb;
  color:  #777;
  width: 350px;
  height: 400px;
  margin-left: 20px;
}

footer{
position: relative;
background: #ebebeb;
color: #777;
width: 900px;
height: 20px;
bottom: -400px;
}
